# IntelliJ IDEA
.idea/
*.iml

# Build output
out/
build/
target/

# Logs
*.log

# Compiled class files
*.class

# Packaged files
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db

# VS Code (if you ever open project there)
.vscode/